{% extends "base/base.html" %}
{% load mptt_tags %}
{% load static %}

<link rel="stylesheet" href="{% static 'css/slider.css' %}">

{% block title %}Меню{% endblock %}

{% block content %}

<nav class="navmenu">
	<ul class="nav navbar-nav">
		<div>
			<ul class="megamenu">
			{% recursetree categories %}
				<li>
				<a href="{{node.get_absolute_url}}">{{node.name}}</a>
				{% if not node.is_leaf_node %}
						<ul class="children">
							{{ children }}
						</ul>
				{% endif %}
				</li>
			{% endrecursetree %}
			</ul>
		</div>
	</ul>
</nav>

{% endblock %}